*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* tipo de letra*/
    color: #fff; /* color letra*/
}

body{
    margin: 0;  /* margen de la pagina*/
    background-color:#224870; /* color de fondo*/
}

.container{
    display: flex; /*altera dimesiones par llenar el espacio disponible */
    justify-content: center; /* justificar contenido al centro*/
    align-items: center; /* aliniar en anbo sentido para que quede en medio */
    height: 100vh; /*centrar al medio*/
}
.calculadora{
    display: grid; /* proporcina una cuadricula de una sola columna*/
    grid-template-columns: repeat(4,75px); /*tamaño de la columna*/
    grid-template-rows: 160px repeat(5, 75px); /* tamaño de fila*/
    background-color: #00916e; /* color de fondo*/
    padding: 15px; /* separacion */ 
    border-radius: 32px; /* bornde de los diseño*/
    box-shadow: 15px 10px 0px 5px #00000033; /* sombras y en el colo se pone 6 cero mas el porcenta de la opacidad */
}

button{
    cursor: pointer; /* cambia el cursor*/
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em; /*tamano de la letra*/
    border: none;
    background-color: #00916e;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px#00ffc11f;

}
button:active{ /* cambia el color cuando le da clik en el botton*/
    background-color: #006f54 ;
}
button:focus{
    outline: none;
}
.col-2{
    grid-column: span 2;
}
.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;/*separar valores*/
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;


}
#valor-actual{
    font-size: 1.5em;

}
#valor-anterior{
    font-size: 2em;
}